.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  &-container {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border-radius: 0.5rem;
    list-style-type: none;
    li {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.7rem;
      margin-top: 0.7rem;
      label {
        text-align: left;
      }
    }
  }
}

input {
  padding: 0.7rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.3rem;
  background-color: transparent;
}
